<div class="w-100 flex flex-column">
    <div>
      <mat-form-field (change)="ApplyFiter($event.target.value)" class="p-2 col-sm">
        <mat-label style="font-size: 16px;">Tìm kiếm</mat-label>
        <input matInput placeholder="Search" style="font-size: 16px;">
      </mat-form-field>
    </div>
    <div class="h-25 flex flex-row-reverse gap-x-2" style="margin-bottom: 10px;">
      <button mat-flat-button style="background-color: aqua;color: white;" class="rounded-full"(click)="DownLoadAll()"><mat-icon style="color: white;">cloud_download</mat-icon> Tải tất cả mã</button>
      <button mat-flat-button color="primary" class="pb-0.5 h-10" (click)="Add()"><mat-icon style="color:white">add</mat-icon> Thêm</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="QRCode">
            <th mat-header-cell *matHeaderCellDef> QRCode </th>
            <td mat-cell *matCellDef="let element"> 
              <qrcode [qrdata]="element.productCode"
                      width="50">
              </qrcode>
            </td>
          </ng-container>
          <ng-container matColumnDef="BarCode">
            <th mat-header-cell *matHeaderCellDef> BarCode </th>
            <td mat-cell *matCellDef="let element"> Chưa có </td>
          </ng-container>
        <ng-container matColumnDef="Code">
          <th mat-header-cell *matHeaderCellDef> Mã hàng hóa </th>
          <td mat-cell *matCellDef="let element"> {{element.productCode}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Tên hàng hóa </th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>
        <ng-container matColumnDef="Download">
          <th mat-header-cell *matHeaderCellDef> Tải mã </th>
          <td mat-cell *matCellDef="let element"> 
            <button style="background-color: white; color: blue;" (click)="DownloadCode(element.productCode)" color="warn"> <mat-icon style="color:blue">download</mat-icon>Tải mã</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="Del">
          <th mat-header-cell *matHeaderCellDef> Xóa </th>
          <td mat-cell *matCellDef="let element"> 
            <button style="background-color: white; color:red;" (click)="Del(element)" color="warn"> <mat-icon style="color:red">close</mat-icon>Xóa</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator style="text-align: right;" #paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageIndex]="pageNumber" [(pageSize)]="pageSize" [length]="totalPage" (page)="ChangePage($event)" showFirstLastButtons aria-label="Select page"></mat-paginator>
</div>

