
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style=" z-index: 90;">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
    </div>
    <div class="flex flex-row-reverse gap-x-4" style="z-index: 99;">
        <div >
          <mat-icon matBadgeColor="primary" fontIcon="person" [matMenuTriggerFor]="profile"></mat-icon>
          <mat-menu #profile="matMenu" style="position: relative; z-index:99;">
           <app-account-menu style="margin-top: 10px;"></app-account-menu>
          </mat-menu>
        </div>
        <div>
          <mat-icon [matBadge]="notiCount" [matBadgeHidden]="isHidden" matBadgeColor="primary" fontIcon="notifications" [matMenuTriggerFor]="menu" (click)="LoadData()"></mat-icon>
          <mat-menu #menu="matMenu" style="position: absolute; z-index:99;">
           <app-notification style="z-index: 99;" id="notification" style="margin-top: 10px;" (reload)="getNoti()" [UnREADnotifycations]="UnREADnotifycations" [READnotifycations]="READnotifycations"></app-notification>
          </mat-menu>
        </div>
    </div>
  </div>
</nav>
