
<div class="sidebar-wrapper" style="background-color: #212120;">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo.png">
      </div>
    </a>
    <a class="simple-text logo-normal">
      Quản lý hàng hóa
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p style="color: lightgray;">{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
