<footer class="footer" style="background-color: #212120;">
    <div class="container-fluid" style=" color: white;">
        <nav class="pull-left" >
            <ul>
                <li>
                    ©2024
                </li>
                <li>
                    Quản lý hàng hóa E-Steel
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made by DeepIt
        </div>
    </div>
</footer>
